* {
    box-sizing: border-box;
}

h1, h2, p, ul {
    margin: 0;
}

body {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
    margin-top: 220px;
    margin-bottom: 110px;
    padding: 0;
}

.products-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.product-card {
    background-color: #F7F7FA;
    color: #515076;
    width: 340px;
    height: 573px;
    margin: 0 0 5px;
    padding: 25px;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.product-use {
    font-size: 12px;
    color: #A5A3B9;
    display: block;
    margin: 30px 0 11px;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 5px;
}

.product-description {
    font-size: 13px;
    margin: 0 0 15px;
}

.product-compound {
    font-size: 13px;
    display: block;
    margin: 0 0 5px;
}

.compound-description {
    font-size: 13px;
    margin: 0 0 25px;
}

.compound-description li {
    margin: 0 0 5px -25px;
}

.sell {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.price {
    font-size: 20px;
    line-height: 24px;
    float: right;
}