* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 220px;
    background-image: url("images/background_image.png");
    background-repeat: no-repeat;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
    margin-bottom: 110px;
    padding: 0;
}

.products-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.product-card {
    background-color: #F7F7FA;
    color: #515076;
    width: 340px;
    height: 573px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.product-image {
    display: block;
    margin: 0 auto;
}

.product-use {
    font-size: 12px;
    text-transform: uppercase;
    color: #A5A3B9;
    display: block;
    margin: 30px 0 11px;
}

.product-title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 5px;
}

.product-description {
    font-size: 13px;
    margin: 0 0 15px;
}

.product-compound {
    font-size: 13px;
    display: block;
    margin: 0 0 5px;
}

.compound-description {
    font-size: 13px;
    margin: 0 0 25px;
    padding-left: 15px;
}

.compound-description li {
    margin-bottom: 5px;
}

.product-price {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.sell {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.price {
    font-size: 20px;
    line-height: 24px;
}