* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    font-family: 'Montserrat', sans-serif;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
    max-width: 1280px;
    margin: 0 auto;
    padding-top: 220px;
    background-image: url("images/background_image.png");
    background-repeat: no-repeat;
}

.title {
    font-size: 70px;
    font-weight: 400;
    line-height: 78px;
    text-align: center;
    color: #515076;
    margin-bottom: 110px;
    padding: 0;
}

.block-buttons {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.button {
    border: none;
    background-color: #515076;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    width: 15em;
    height: 4em;
    cursor: pointer;
    transition: transform 0.2s ease;
}

.button:hover {
    transform: translateY(-5px);
}

.products-list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 45px;
}

.product-card {
    background-color: #F7F7FA;
    color: #515076;
    width: 340px;
    height: 573px;
    padding: 25px;
    display: flex;
    flex-direction: column;
}

.product-card__image {
    display: block;
    margin: 0 auto;
}

.product-card__use {
    font-size: 12px;
    text-transform: uppercase;
    color: #A5A3B9;
    display: block;
    margin: 30px 0 11px;
}

.product-card__title {
    font-size: 20px;
    font-weight: 700;
    line-height: 27px;
    margin: 0 0 5px;
}

.product-card__description {
    font-size: 13px;
    margin: 0 0 15px;
}

.product-card__compound {
    font-size: 13px;
    display: block;
    margin: 0 0 5px;
}

.product-card__components {
    font-size: 13px;
    margin: 0 0 25px;
    padding-left: 15px;
}

.product-card__components li {
    margin-bottom: 5px;
}

.product-card__purchase {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}

.product-card__sell {
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
}

.product-card__price {
    font-size: 20px;
    line-height: 24px;
}

.another-color {
    background-color: #8B88EB;
}